html {
  display: flex;
  min-height: -webkit-fill-available;
  overflow: hidden;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  line-height: 1.5;
  background: $bg-basic;
  color: $color-secondary;
}

#app {
  height: inherit;
  display: grid;
  grid-template-rows: auto 1fr;
}

.flex {
  display: flex;
}
main {
  padding: 1rem;
}
.content {
  display: flex;
}
.content {
  nav {
    position: fixed;
    top: 34;
    left: -200px;
    width: 300px;
    height: calc(100vh - 34px);
    opacity: 0;
  }
  main {
    position: relative;
    width: 100%;
  }
}

.content.active {
  nav {
    left: 0;
    z-index: 2;
    opacity: 1;
  }

  main {
    left: 300px;
    width: calc(100% - 300px);
  }
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
